[user]
  name = Max
  email = 8040671+mjfdevere5@users.noreply.github.com
[core]
  editor = subl
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
[merge]
  tool = kdiff3
[alias]
  lo = log --pretty=oneline
  standup = !git log --since='3 days ago' --author=\"$(git config user.name)\" --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all